<div class="navbar-wagon">
  <!-- Logo -->
  <%=link_to restaurants_path do %>
  <%= image_tag "yelp-logo-vector", class: "navbar-wagon-brand" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <%= link_to "Add Restaurant", new_restaurant_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>

</div>
